/dagger.gen.go
/internal/dagger
/internal/querybuilder
/internal/telemetry
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/**/*.tfvars
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup


build/
out
script.sh