/dagger.gen.go
/internal/dagger
/internal/querybuilder
/internal/telemetry
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/**/*.tfvars
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
wazuh-windows-vm/terraform.tfvars


build/
out
script.sh
invoice/terraform/.terraform.lock.hcl
invoice/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/7.6.0/linux_amd64/terraform-provider-google_v7.6.0_x5
invoice/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/7.6.0/linux_amd64/LICENSE.txt

wazuh-windows-vm/README.md
wazuh-manager/README.md

ssh-brute-force.sh